:root {
    --primary-color: black;
    --secondary-color: purple;
    --tertiary-color: violet;
    --white: white;
    --grey: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    color: var(--primary-color);
    font-family: Staatliches, sans-serif;
}

header {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

header a {
    color: var(--tertiary-color);
    text-decoration: none;
}

.high-scores {
    color: var(--tertiary-color);
    text-decoration: none;
    padding-left: 20px;
}

.timer {
    margin-top: 15px;
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 100px; 
    text-align: left;
}

.timer-text {
    margin-top: 15px;
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 100px; 
    text-align: center;
    padding-left: 15px;
}

.countdown {
    margin-top: 15px;
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 100px; 
    text-align: left;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main h1 {
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

main p {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 185px;
    padding-right: 185px;
}

.start-btn {
    margin: auto;
    margin-top: 30px;
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: 20px;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    cursor: pointer;
}

.start-btn:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
    background-color: var(--tertiary-color);
}

.start-btn:active {
    box-shadow: 0 0px var(--grey);
    top: 0;
    background-color: var(--tertiary-color);
}

.quiz-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 100px;
    text-align: left;
    padding-left: 250px;
    padding-right: 250px;
}

.quiz-page button {
    margin: auto;
    margin-top: 10px;
    margin-right: 200px;
    outline: none;
    border: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 200px;
    text-align: left;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: 20px;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    cursor: pointer;
}

.quiz-page button:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
    background-color: var(--tertiary-color);
}

.quiz-page button:active {
    box-shadow: 0 0px var(--grey);
    top: 0;
    background-color: var(--tertiary-color);
}

@media screen and (max-width: 980px) {

    main h1 {
        padding-left: 50px;
        padding-right: 50px;
    }

    main p {
        padding-left: 25px;
        padding-right: 25px;
    };
   

}